/* 
  Name: Amoya Collins
  Student ID: 2408831
  Date: November 25, 2025
  Description: UI for Rent Receipt App
  Hosting Link: https://amoya-c.github.io/gradedlab-3/

*/

body {
    background-color: #ccc;
    font-family: 'Playfair Display';
    padding: 50px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid black 2px;
    border-radius: 25px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    background-color: white;
}
.h1 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
}

.no-grid {
    grid-column: 1 / -1;
    margin-top: 1rem;
}

 .column1 {
    grid-column: 1 / 2;
}

.column2 {
    grid-column: 2 / 3;
}

textarea {
    height: 30px;
    width: 50%;
    resize: none;
    transition: height 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
}

textarea:focus {
    height: 60px;
}

input, select {
    height: 20px;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.button-row {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.button-row button {
    flex: 1;
    padding: 10px 15px;
}

button {
    transition: transform 0.1s ease;
    font-family: 'Playfair Display';
    width: 50%;
}

button:active {
    transform: scale(0.95);
}

.receipt-class {
    border: dashed black 4px;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
    font-family: 'Playfair Display';
}

.receipt-class h1 {
    font-size: 24px;
    
}
.receipt-class p {
    font-size: 18px;
    margin: 5px 0;
    border-bottom: #ccc 1px solid;
}

@media print {
    .container{
    display: none !important;
}
}